.intro {
    margin-bottom: 32px;
    border-bottom: 4px solid var(--cor-4);
}

.sobre-img {
    width: 100%;
    height: 60vh;
}

.sobre-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    filter: saturate(0);
}

.intro h1 {
    margin-bottom: 12px;
}

.intro p {
    padding: 16px;
    max-width: 80ch;
    background-color: var(--cor-4);
    border-radius: 4px;
    margin-bottom: 16px;
}



/* comite */

.comiter-organizador h2 {
    margin-bottom: 12px;
}