.systemContent {
    display: none;
}


.systemContent.ativo {
    display: grid;
    grid-template-columns: 3fr 9fr;
    padding: 16px;
    border: 4px solid var(--cor-4);
    margin-bottom: 32px;
    animation: slideDown .5s forwards;
}

.systemConfig {
    border-left: 4px solid var(--cor-4);
    padding-left: 16px;
    background-color: var(--cor-2);
}

.item-selecionar.ativo {
    background-color: var(--cor-10);
}

.item-selecionar.ativo p {
    color: var(--cor-1);
}

.item-selecionar p {
    display: inline-block;
    padding: 12px 18px;
    cursor: pointer;
}

.item-selecionar.ativo p:hover {
    color: var(--cor-3);
}

.item-selecionar p:hover {
    color: var(--cor-8);
}